@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
/* Custom Variables */
:root {
  --text-light: #000000;
  --bg-dark: #1a202c;
  --primary-color: #facc15;
  --secondary-color: #3b82f6;

  /* Background Colors */
  --bg-white: #ffffff;
  --bg-dark-teal: #15616D;
  --bg-dark-gray: #EAEAEA;

  /* Text Colors */
  --text-dark-teal: #15616D;
  --text-white: #ffffff;

  /* Border Radius */
  --border-radius-5: 5px;
  --border-radius-10: 10px;
  --border-radius-15: 15px;
  --border-radius-20: 20px;
}

/* Font */
body {
  font-family: 'Gabarito', serif;
  background-color: var(--bg-dark-gray);
}

/* Layout Responsiveness */
.page_content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 10px; */
}

/* Sidebar */
.sidebar {
  width: 100%;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-20);
  padding: 15px;
}

/* Main Containers */
.main_projects_container,
.main_content_container,
.projects_box {
  background-color: var(--bg-white);
  border-radius: var(--border-radius-20);
  /* padding: 5px; */
}

/* Content Styling */
.content_box,
.projects_box {
  background-color: var(--bg-dark-teal);
  padding: 20px;
  color: var(--text-white);
}

.content_btn {
  background-color: var(--bg-dark-teal);
  color: var(--text-white);
  padding: 10px 15px;
  border-radius: var(--border-radius-10);
  cursor: pointer;
  transition: all 0.3s;
}

.content_btn:hover {
  background-color: var(--primary-color);
  color: var(--text-light);
}

/* Project Box */
.tech_box,
.desc_box {
  background-color: var(--bg-dark-gray);
  border-radius: var(--border-radius-10);
  padding: 15px;
}

/* Responsive Design */
@media (min-width: 640px) {
  .page_content {
    display: flex;
    gap: 20px;
  }

  .sidebar {
    width: 25%;
    border-top-right-radius: var(--border-radius-20);
    border-bottom-right-radius: var(--border-radius-20);
  }

  .main_content_container {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 20%;
  }

  .main_content_container {
    width: 80%;
  }
}
