:root {
    --text-light: #000000;
    --bg-dark: #1a202c;
    /* --text-dark: #ffffff; */
    --primary-color: #facc15;
    --secondary-color: #3b82f6;

    /* background  */
    --bg-white: #ffffff;
    --bg-dark-teal:#15616D;

    /* text  */
    --text-dark-teal:#15616D;
    --text-white:#ffffff;

    /* border radius  */
    --border-radius-5:5px;
    --border-radius-10:10px;
    --border-radius-15:15px;
    --border-radius-20:20px;

  }

.sidebar_txt_box{
    /* border-radius: var(--border-radius-10); */
    background-color: var(--bg-dark-teal);
    border-radius: var(--border-radius-20); 
    
}
.sidebar_head_txt{
    color: var(--text-white);

}


.sideber_nav{
    /* border: 1px solid black; */
    background-color: var(--bg-dark-teal);
    border-radius: var(--border-radius-20);
    
}
.sidebar_link{
    /* border: 1px solid black; */
    display: block;
    padding: 10px 5px;
    border-radius: var(--border-radius-10);
    color: var(--text-dark-teal);
    /* background-color: var(--bg-white); */
    font-weight: 600;
    text-align: center;
    margin: 5px 0px;
}

.dark_mode_toggle{
    color: var(--text-white);
    background-color: var(--bg-dark-teal);
    /* border-radius: var(--border-radius-10); */
    border-radius: var(--border-radius-20);
}